name: Mirroring

on: [push, delete]

jobs:
  to_gitlab:
    runs-on: ubuntu-18.04
    steps:                                              # <-- must use actions/checkout@v1 before mirroring!
    - uses: actions/checkout@v1
    - uses: pixta-dev/repository-mirroring-action@v1
      with:
        target_repo_url:
          git@codeingress-test.hic.dundee.ac.uk:csword001/shuser2.git
        ssh_private_key:                                # <-- use 'secrets' to pass credential information.
          ${{ secrets.CODE_INGRESS_USER2 }}

  to_codecommit:                                        # <-- different jobs are executed in parallel.
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - uses: pixta-dev/repository-mirroring-action@v1
      with:
        target_repo_url:
          git@codeingress-test.hic.dundee.ac.uk:csword001/shuser2.git
        ssh_private_key:
          ${{ secrets.CODE_INGRESS_USER2 }}
        ssh_username:                                   # <-- (for codecommit) you need to specify ssh-key-id as ssh username.
          ${{ secrets.SHUSER2_SSH_ID }}
