on: [push]

jobs:
  gitavscan:
    runs-on: ubuntu-latest
    name: History AV Scan
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
    steps:
    - uses: actions/checkout@v2
    - name: Git AV Scan
      uses: css123001/gitavscan@main
    - run: echo $AV_STATUS
      if: ${{env.AV_STATUS == 'false'}}
        run:| 
          exit 1
      
  zippy:
    needs: gitavscan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        filename: 'release.zip'
    - uses: actions/upload-artifact@master
      with:
        name: my-zip
        path: release.zip

  copy-file:
      needs: zippy
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/download-artifact@master
        with:
          name: my-zip
          path: release.zip
      - name: Pushes test file
        uses: dmnemec/copy_file_to_another_repo_action@v1.0.4
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: '/github/workspace/release.zip'
          destination_repo: 'css123001/SHdeploy'
          destination_folder: 'SHuser2-Dir'
          destination_branch: 'main'
          user_email: 'csword001@dundee.ac.uk'
          user_name: 'css123001'
