
name: "units-test"
on: [ push, delete, create ]

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: kielabokkie/ssh-key-and-known-hosts-action@v1
        with:
           ssh-private-key: ${{ secrets.CODE_INGRESS_USER2 }}
           ssh-host: codeingress-test.hic.dundee.ac.uk
     
