
name: "units-test"
on: [ push, delete, create ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./
      with:
        ssh-private-key: ${{ secrets.CODE_INGRESS_USER2 }}
        ssh-host: codeingress-test.hic.dundee.ac.uk
     
